/* Общие стили */
body, html {
    height: 100%;
}

a {
    color: black;
    transition: all 0.22s;
}

a:hover {
    color: #777d81;
}

a:active {
    color: #3e4244;
}

li {
    font-size: 18px;
}

main {
    height: calc(100vh - 70px);
    overflow: hidden;
}

.hidden {
    display: none;
}

.error-message {
    height: 1.2rem;
    opacity: 0;
    transition: all 0.3s ease;
}

.cursor-pointer {
    cursor: pointer;
}





/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 30px;
    height: 70px;
    border-bottom: 2px solid black;
}

header a, span {
    font-size: 1.1rem;
}




/* Главная страница */
#home-page-content {
    height: 100%;
}

.user-list {
    float: left;
    width: 50%;
    padding: 20px 30px;
    height: 100%;
    border-right: 1px solid black;
}

.user-list ul {
    list-style: none;
    padding-left: 0;
}

#my-repositories-unauthorized {
    text-align: center;
}

.index-repositories {
    width: 50%;
    border-left: 1px solid black;
    padding: 20px 30px;
    height: 100%;
    float: right;
}

#my-repositories-list {
    list-style: none;
    padding: 0;
}

#add-new-repository,
#add-new-branch {
    display: flex;
    width: 100%;
}

#add-new-repository input,
#add-new-branch input {
    box-shadow: none;
    border-color: black;
    border-right: none;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

#add-new-repository button,
#add-new-branch button {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}




/* Формы */
.form-container {
    width: 500px;
    margin: 50px auto;
    padding: 20px 30px;
    border: 2px solid black;
    border-radius: 10px;
}

.form-container h4 {
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    border: 1px solid black;
}




/* Репозиторий */
#repository-content-table-block {
    border: 2px solid black;
    border-radius: 8px;
    width: 50%;
    overflow: hidden;
    font-size: 18px;
    margin: 0 auto;
    text-align: left;
    box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 1);
    max-height: 75vh;
}

#repository-content-table {
    max-width: 100%;
    background-color: white;
}

#repository-content-table-head {
    height: calc(1rem + 28px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 0.8rem;
    padding-right: 1rem;
}

#repository-title {
    padding-top: 2rem;
    margin-left: 25%;
    width: 50%;
}

#repository-content i {
    margin: 0.4rem 1rem 0.4rem 0.8rem;
}

#repository-content-table tr td {
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
}

#repository-content-table th {
    border-bottom: 2px solid black;
}

#repository-content-table tr:last-child td {
    border-bottom: none;
    transition: all 0.3s ease;
}

#repository-content-table tbody tr:last-child {
    border-bottom: none;
}

#repository-content-table {
    margin: 0;
}

.repository-nav-button {
    margin-left: 8px;
    font-size: 18px;
    padding: 5px 5px;
    border-radius: 5px;
    transition: background-color 0.2s ease;
}

.repository-nav-button:hover {
    background-color: #e6e6e7;
}

#repository-navigation {
    display: flex;
    justify-content: end;
}

.text-document {
    overflow: scroll;
    height: 70vh;
    background-color: #e6e6e7 !important;
}





/* Модальное окно подтверждения удаления */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 22px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-box {
    padding-top: 40vh;
    display: flex;
    align-content: center;
    justify-content: center;
}

.modal-content {
    border-radius: 10px;
    width: 250px;
    height: 150px;
    padding: 20px 30px 5px;
    text-align: center;
    border: 2px solid black;
}

#deleteConfirmButtonsBlock {
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
}

#confirmDeleteButton,
#cancelDeleteButton {
    width: 45%;
    border: 2px solid black;
}






/* Git log */
#commit-info {
    width: 100%;
    height: 100%;
}

#commit-info-content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#commit-list {
    padding: 0;
    width: 50%;
    list-style: none;
}

#commit-list li {
    background-color: white;
}

#commit-list-header {
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

#commit-list-header i {
    height: fit-content;
}

.commit-item {
    border: 2px solid black;
    box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 1);
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}

.commit-item h6 {
    font-weight: normal;
    margin: 0;
}

.commit-item div {
    font-weight: normal;
}

#select-branch-log {
    width: 50%;
    display: flex;
    justify-content: start;
}

#select-branch-log select {
    width: 30%;
    border: 2px solid black;
    outline: none;
}







/* Ветки */
#branches-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 25%;
    padding-right: 25%;
}

#branches-header {
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#branches-list {
    width: 100%;
    border: 2px solid black;
    box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 1);
}

#branches-list li {
    border: none;
    border-bottom: 2px solid black;
}

#branches-list li:last-child {
    border-bottom: none;
}

#branches-list .fa-check:before {
    margin-right: 5px;
}







/* Статус файлов и коммит */
#commit-content {
    padding-top: 2rem;
    padding-left: 25%;
    padding-right: 25%;
}

#unindexed-files-list,
#indexed-files-list {
    border: 2px solid black;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 1);
    margin-bottom: 1.5rem;
}

#unindexed-files-list li,
#indexed-files-list li {
    border: none;
    border-bottom: 2px solid black;
}

#unindexed-files-list li:last-child,
#indexed-files-list li:last-child {
    border-bottom: none;
}

#commit-message {
    width: 100%;
    font-size: 18px;
    padding: 3px 5px;
    height: 90px;
    resize: none;
    border: 2px solid black;
}

#commit-btn {
    margin-top: 1rem;
    float: right;
    width: 10rem;
    border: 2px solid black;
}



/* Создание папки */
.new-dir-name-input {
    font-size: 18px;
    box-shadow: none;
    outline-width: 0;
    border: none;
    padding: 0;
    width: 100%;
}

.new-dir-name-input.form-control {
    box-shadow: none;
}