/* Общие стили */
body, html {
    height: 100%;
}

a {
    color: black;
    transition: all 0.22s;
}

a:hover {
    color: #777d81;
}

a:active {
    color: #3e4244;
}

li {
    font-size: 18px;
}

main {
    height: calc(100vh - 70px);
    overflow: hidden;
}

.hidden {
    display: none;
}

.error-message {
    height: 1.2rem;
    opacity: 0;
    transition: all 0.3s ease;
}

.cursor-pointer {
    cursor: pointer;
}





/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 30px;
    height: 70px;
    border-bottom: 2px solid black;
}

header a, span {
    font-size: 1.1rem;
}




/* Home page */
#home-page-content {
    height: 100%;
}

.user-list {
    float: left;
    width: 50%;
    padding: 20px 30px;
    height: 100%;
    border-right: 1px solid black;
}

.user-list ul {
    list-style: none;
    padding-left: 0;
}

#my-repositories-unauthorized {
    text-align: center;
}

.index-repositories {
    width: 50%;
    border-left: 1px solid black;
    padding: 20px 30px;
    height: 100%;
    float: right;
}

#my-repositories-list {
    list-style: none;
    padding: 0;
}

#add-new-repository {
    display: flex;
    width: 100%;
}

#add-new-repository input {
    box-shadow: none;
    border-color: black;
    border-right: none;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

#add-new-repository button {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}




/* Формы */
.form-container {
    width: 500px;
    margin: 50px auto;
    padding: 20px 30px;
    border: 2px solid black;
    border-radius: 10px;
}

.form-container h4 {
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    border: 1px solid black;
}




/* Репозиторий */
#repository-content-table-block {
    border: 2px solid black;
    border-radius: 8px;
    width: 50%;
    overflow: hidden;
    font-size: 18px;
    margin: 0 auto;
    text-align: left;
    box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 1);
    max-height: 75vh;
    overflow-y: scroll;
}

#repository-content-table-head {
    height: calc(1rem + 28px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 0.8rem;
    padding-right: 1rem;
}

#repository-title {
    padding-top: 2rem;
    margin-left: 25%;
    width: 50%;
}

#repository-content i {
    margin: 0.4rem 1rem 0.4rem 0.8rem;
}

#repository-content-table tr td {
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
}

#repository-content-table th {
    border-bottom: 2px solid black;
}

#repository-content-table tr:last-child td {
    border-bottom: none;
    transition: all 0.3s ease;
}

#repository-content-table tbody tr:last-child {
    border-bottom: none;
}

#repository-content-table {
    margin: 0;
}

.repository-nav-button {
    margin-left: 8px;
    font-size: 18px;
    padding: 5px 5px;
    border-radius: 5px;
    transition: background-color 0.2s ease;
}

.repository-nav-button:hover {
    background-color: #e6e6e7;
}

#repository-navigation {
    display: flex;
    justify-content: end;
}

.text-document {
    overflow: scroll;
    height: 70vh;
    background-color: #e6e6e7;
}